body {
    font-family: Arial, sans-serif;
    margin: 20px auto; /* Center the body horizontally */
    padding: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column; /* Ensure all boxes are stacked vertically */
}

.title-container {
    border-radius: 25px;
    position: relative;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    width: 80%;
    max-width: 800px;   
}

.title-image {
    max-width: 100%;
    max-width: 800px; /* Maximum width of the container */
    border-radius: 10px;
    width: 100%;
}


.home-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
}

.home-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    max-width: 800px;
}

.home-box {
    color: #cecdcd;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(10, 7, 56, 0.55); /* Use rgba for background color with opacity */
    padding: 20px;
    border-radius: 25px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 100%;
    box-sizing: border-box; /* Ensure padding is included in width calculation */
    margin-bottom: 20px; /* Add space between boxes */
    cursor: pointer;
    position: relative;
    transition: transform 0.3s ease;
}

.home-box:hover {
    transform: scale(1.05);
}

.quote-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(10, 7, 56, 0.55); /* Use rgba for background color with opacity */
    padding: 20px;
    border-radius: 25px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 100%;
    box-sizing: border-box; /* Ensure padding is included in width calculation */
    margin-bottom: 20px; /* Add space between boxes */
    position: relative;
    color: #cecdcd;
}

.discussion-box {
    color: #cecdcd;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(10, 7, 56, 0.55); /* Use rgba for background color with opacity */
    padding: 20px;
    border-radius: 25px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 20px;
    position: relative;
    cursor: pointer;
}


.habit-box .image-box {
    width: 60px;
    height: 60px;
    margin-bottom: 10px;
    
}

.habit-box .image-box img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.habit-box .progress-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.habit-box .progress-bars {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 5px;
    width: 100%;
}

.habit-box .progress-bar {
    height: 20px;
    background-color: rgba(205, 205, 207, 0.1); /* Use rgba for background color with opacity */
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.habit-box .progress-bar.filled {
    background-color: rgba(3, 75, 177, 0.972); /* Use rgba for background color with opacity */
}

.quote-text,
.habit-text {
    width: 100%;
    text-align: center;
    font-size: 18px;
    margin-bottom: 10px;
    padding: 10px;
    box-sizing: border-box;
}

.habit-box .habit-title {
    font-size: 18px;
    margin-bottom: 10px;
    text-align: center;
}

.highlight-box {
    color: #0d0735;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffeb3b;
    padding: 20px;
    border-radius: 25px;
    box-shadow: 0 0 10px #ffeb3b;
    width: 100%;
    box-sizing: border-box; /* Ensure padding is included in width calculation */
    margin-bottom: 20px; /* Add space between boxes */
    position: relative;
    border: 10px transparent #ffeb3b;
}

.highlight-text{
    width: 100%;
    text-align: center;
    font-size: 20px;
    margin-bottom: 10px;
    padding: 10px;
    box-sizing: border-box;
    font-weight: bold;
}

.habit-level {
    width: 100%;
    text-align: center;
    font-size: 18px;
    margin-bottom: 10px;
    padding: 10px;
    box-sizing: border-box;
}

.highlight-time {
    width: 100%;
    text-align: center;
    font-size: 20px;
    margin-bottom: 10px;
    padding: 10px;
    box-sizing: border-box;
}


.quote-author {
    width: 100%;
    text-align: center;
    font-size: 16px;
    font-style: italic;
    margin-top: 5px;
    padding: 10px;
    box-sizing: border-box;
}

@media (max-width: 600px) {
    .home-box,
    .quote-box, 
    .highlight-box,
    .habit-box{
        width: 100%; /* Full width for smaller screens */
    }
}

/* Add these styles to ensure the image fits within the round box */
.round-box {
    width: 70px;
    height: 70px;
    background-color: #006ddc;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; /* Ensure the image fits within the round box */
    margin-bottom: 10px; /* Add some space below the round box */
}

.round-box img {
    width: auto;
    height: 100%;
    object-fit: cover; /* Ensure the image covers the entire round box */
    border-radius: 50%; /* Ensure the image itself is round */
}