body {
    font-family: Arial, sans-serif;
    background-color: #85bafe;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /*height: 100vh;*/
    flex-direction: column; /* Ensure all habit boxes are stacked vertically */
}


.stats-tracker {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    
}

.main-image-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 25px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 70%;
    max-width: 800px;
}

.main-image {
    max-width: 100%; /* Adjust as needed */
    height: auto;
}


.calendar-button {
    position: absolute;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    top: 30px; /* Adjust this value to position the button vertically */
    right: 30px; /* Adjust this value to position the button horizontally */
}

.calendar-image {
    width: 50px; /* Adjust the size as needed */
    height: 50px; /* Adjust the size as needed */
}

.habit-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    max-width: 800px;
}

.habit-box, .time-box{
    display: flex;
    align-items: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 25px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 100%;
    box-sizing: border-box; /* Ensure padding is included in width calculation */
    flex-wrap: wrap; /* Allow wrapping for smaller screens */
    margin-bottom: 20px; /* Add space between habit boxes */
}

.image-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    margin-right: 20px;
}

.image-box img {
    width: 100%;
    border-radius: 10px;
    height: auto;
}

.progress-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-width: 0; /* Prevent container from growing beyond its content */
}

.habit-level {
    font-size: 24px;
    text-align: center;
    margin-bottom: 10px;
    }

    .habit-level[contenteditable="true"] {
        padding: 2px 5px;
        border-radius: 3px;
        outline: none;
    }
    
    .progress-bars {
    display: grid;
    grid-template-columns: repeat(10, 1fr); /* Create 10 equal columns */
    gap: 5px;
    width: 100%; /* Ensure progress bars take full width */
    box-sizing: border-box; /* Ensure padding is included in width calculation */
    }
    
    .progress-bar {
    height: 20px;
    background-color: #d3d3d3;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    }
    
    .progress-bar.clicked {
    background-color: #4caf50;
    }
    